.triangle-top,
.triangle-bottom {
  position: absolute;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  border: none;
}

.triangle-top svg,
.triangle-bottom svg {
  position: relative;
  display: block;
}

.triangle-top .shape-fill,
.triangle-bottom .shape-fill {
  fill: #ffffff;
}

/* TOP */
/* .triangle-top {} */

.triangle-top svg {
  width: calc(100% + 0.08125em);
  height: 8.5625em;
}

/* BOTTOM */
.triangle-bottom {
  bottom: -1px;
  transform: rotate(180deg);
}

.triangle-bottom svg {
  width: calc(200% + 0.08125em);
  height: 13.25em;
}
