@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #171717;
}

:root {
  /* fonts */
  /* --title-ff: '';
  --subtitle-ff: '';
  --paragraph-ff: 'Rubik', sans-serif; */

  /* header */
  /* --nav-bg-color: #02113d; */

  /* top */
  --top-title-color: #fff;
  --top-span-color: #ff6347;
  --top-bg-color: transparent;
  --top-bg-side-items: #fff;
  --top-focus-hover-color: #ff6347;
  --top-link-visited-color: #fff;
  --top-activate-color: #fff;

  /* navbar */
  --nav-color: #fff;
  --nav-status-color: #ff6347;

  /* properties */
  scroll-behavior: smooth;
}
