/* general */
.button { 
  background-image: linear-gradient(160deg, var(--primary-bg-color-hov) 0%, var(--secondary-bg-color-act) 100%);
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
  border-radius: var(--button-bd-radius);
  border: var(--button-bd-style);
  transition: transform 0.3s ease;
}

.button-content {
  gap: 0 0.6em;
}


/* individual styles */
.contact-btn {
  font-size: 0.9em;
  border: 1px solid #f2f2f2;
}


/* individual dimensions */
.home-button-dimensions {
  --button-padding: 0.5em;
  --button-width: 9em;

  padding: var(--button-padding);
  width: var(--button-width);
}

.project-btn-dimensions {
  --button-padding: 0.2em;

  padding: var(--button-padding);
  width: 100%;
}

.contact-btn-dimensions {
  --button-padding: 0.54em;
  --button-width: 9em;
  
  padding: var(--button-padding);
  width: var(--button-width);
}


/* svg icons */
.svg-styles {
  fill: var(--primary-color);
}

.svg-dimensions {
  max-width: 1.7em;
  max-height: 1.7em;
  width: 100%;
  height: 100%;
}

.container-visibility {
  display: none;
}


/* individual svg */
.project-svg-styles {
  fill: var(--primary-color);
}

.project-svg-styles-open-icon {
   stroke: var(--primary-color);
   stroke-width:2;
   stroke-linecap:round;
   stroke-linejoin:round;
   fill: none;
}

.project-svg-dimensions {
  width:24px;
  height:24px;
}


/* containers */
.home-button-container {
  --home-container-btn-gap: 0 clamp(0.3em, 2vw, 1.05em);
  --home-container-btn-pad-left: clamp(0.5em, 7vw, 3em);

  gap: var(--home-container-btn-gap);
  padding-left: calc(var(--home-container-btn-pad-left) - 1.2em);
}

.project-btn-container {
  --project-btn-gap: 0.5em;
  gap: var(--project-btn-gap);
  grid-template-columns: 1fr 1fr;
}

/* states */
.button:hover {
  background-image: none;
  background-color: var(--primary-bg-color-hov);
  color: var(--primary-color-hov);
  transform: translateY(2.1px);
}

.button:active {  
  background-color: var(--secondary-bg-color-act);
  color: var(--secondary-color-act);
  border: var(--button-bd-style-act);
  transform: rotateY(2deg);
}


/* .contact-btn:hover {
  color: var(--secondary-color);
  background-image: linear-gradient(160deg, #d3d3d3 0%, #b2b2b2 100%);  
}

.contact-btn:active {
  background-image: linear-gradient(160deg, #fff 0%, #e9e9e9 100%);  
} */

/* queries */
@media (min-width: 767.1px) and (max-width: 1023px) {

  .project-btn-container {
    gap: calc(var(--project-btn-gap) - 0.3em);
  }

  .home-button-dimensions {
    padding: calc(var(--button-padding) - 0.3em);
    width: var(--button-width);
  }
  
  .project-btn-dimensions {
    padding: calc(var(--button-padding) - 0.3em);
    width: 100%;
  }
}

@media (max-width: 767px) {
  
  .contact-btn-dimensions {
    width: calc(var(--button-width) - 1.5em);
  }
  
  .container-visibility {
    display: block;
  }

  .button-visibility {
    display: none;
  }


  /* general svg buttons */
  .anchor-svg-styles:focus > svg > path,
  .anchor-svg-styles:hover > svg > path {
    fill: var(--secondary-color);
  }

  .anchor-svg-styles:active > svg > path {
    fill: var(--secondary-bg-color-act);
  }  
  
  
  /* project svg */
  .project-svg-styles {
    fill: var(--secondary-bg-color);
  }
  .project-svg-styles-open-icon {
    stroke: var(--secondary-bg-color);
    fill: none;
  }
  
  .anchor-svg-container {
    padding: 0.1em;
  }
  
  
  /* project github svg */
  .anchor-svg-styles:focus > svg > .project-svg-styles,
  .anchor-svg-styles:hover > svg > .project-svg-styles {
    fill: var(--primary-bg-color-hov);
  }

  .anchor-svg-styles:active > svg > .project-svg-styles {
    fill: var(--secondary-bg-color-act);
  }
  
  
  /* project 'open svg' */
  .anchor-svg-styles:focus > svg > .project-svg-styles-open-icon,
  .anchor-svg-styles:hover > svg > .project-svg-styles-open-icon {
    stroke: var(--primary-bg-color-hov);
    fill:none;
  }

  .anchor-svg-styles:active > svg > .project-svg-styles-open-icon {
    stroke: var(--secondary-bg-color-act);
    fill: none;
  }
  
}
