.slider-bk {
  max-width: 100%;
}

.slider-bk,
.slider-element,
.slider-buttons-bk {
  display: flex;
}

.slider-element-bk {
  margin: 0 clamp(0.3em, 2vw, 1em);
  overflow: hidden;
}
.slider-element {
  flex-wrap: nowrap;
}

.slider-buttons-bk {
  align-items: center;
}
.slider-buttons {
  background: none;
  border: none;
  outline: none;
  width: 3.5em;
  height: 100%;
  max-height: 3.7em;
  pointer-events: all;
}
.slider-icon-button {
  --sld-icon-btn-width: 3.5em;
  
  width: var(--sld-icon-btn-width);
  height: var(--sld-icon-btn-width);
  filter: var(--primary-arrow-btn-color);
  user-select: none;
}

.slider-icon-button:hover {
  filter: var(--primary-arrow-btn-color-hov);
}
.slider-icon-button:active {
  filter: var(--primary-arrow-btn-color-act);
}

@media (max-width: 450px) {
  .slider-icon-button,
  .slider-buttons {
    width: calc(var(--sld-icon-btn-width) - 1.3em);
  }
  .slider-icon-button {
    height: calc(var(--sld-icon-btn-width) - 1.3em);
  }
}
