.unordered-list {
  list-style-type: none;
}

.lists {
  float: left;
}

.lists__anchor {
  display: block;
  color: var(--nav-color);
  text-decoration: none;
  min-height: 3.6em;
  padding: 1em clamp(1em, 2.5vw, 2.4em);
}

/* status */
.lists__anchor:link,
.lists__anchor:visited {
  color: var(--nav-color);
}

.lists__anchor:focus,
.lists__anchor:hover {
  color: var(--nav-status-color);
  outline: none;
  border-bottom: 2.5px solid var(--nav-status-color);
}

.lists__anchor:active {
  color: var(--nav-color);
  outline: none;
  border-bottom: 4px solid var(--nav-status-color);
}

@media (max-width: 450px) {
  .lists {
    font-size: var(--nav-list-fz-break);
  }
}
