@import "createlist.css";
@import "top.css";

.Header {
  z-index: 22222;
  background-color: var(--nav-bg-color);
  user-select: none;
  position: fixed;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
}
