.svg-logo {
  enable-background: new 0 0 460 460;
  width: 37px;
  height: 37px;
}


/* background */
.global-logo path:nth-child(1),
.global-logo path:nth-child(2) {
  fill: none;
}


/* light-side */
.global-logo polygon:not(path):not(rect):nth-child(3),
.global-logo polygon:nth-child(5),
.global-logo path:nth-child(9),
.global-logo > rect {
  --primary-bg-color-logo: #764EF3 ;
  fill: var(--primary-bg-color-logo);
}  

/* dark side */
.global-logo polygon:nth-child(4),
.global-logo polygon:nth-child(6),
.global-logo path:nth-child(10) {
  --secondary-bg-color-logo: #432D8C;
  fill: var(--secondary-bg-color-logo);
}


/* rocket */
.global-logo path:nth-child(7) {
  fill: #FFFFFF;  
}

.global-logo path:nth-child(8) {
  fill: #A3DDE9;
}


/* window */
.global-logo path:nth-child(11) {
  fill: #F7B93F;
}

.global-logo path:nth-child(13) {
  fill: #c79532;
}
