.top {
  background-color: var(--top-bg-color);
}

.top__anchor {
  text-decoration: none;
}

.title__span-logo {
  background-color: #5135aa;
  color: var(--primary-color);
}

.top__side-items,
.top__side-items {
  background-color: var(--primary-color);
  height: 5px;
  width: 10px;
}

/* status */
.top__anchor:link,
.top__anchor:visited {
  color: var(--primary-color);
}

.top__anchor:focus,
.top__anchor:hover {
  color: var(--secondary-color);
  outline: none;
}

.top__anchor:active {
  color: var(--primary-color);
  outline: none;
}
