@import './logo.css';

.top {
  background-color: var(--top-bg-color);
  padding: 0.2em;
}

.top__anchor {
  text-decoration: none;
  gap: 0.5em;
}

/* status */
.top__anchor:link,
.top__anchor:visited {
  color: var(--primary-color);
}

.top__anchor:focus,
.top__anchor:hover {
  color: var(--secondary-color);
  outline: none;
}

.top__anchor:active {
  color: var(--primary-color);
  outline: none;
}
