.about-board-container {
  display: grid;
  place-content: center;
  padding-top: var(--sections-bk-pad-top);
}

.about-board {
  margin: 0 2em;
  perspective: 1100px;
}

.about-card {
  position: relative;
  max-width: var(--ab-card-width);
  background: var(--primary-item-bg-color);
  box-shadow: var(--ab-card-shadow);

  /* background: rgba(255, 255, 255, 0.3); */
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.45);

  /* border: var(--ab-card-bd); */
  padding: var(--ab-card-pad);
  border-radius: var(--pjt-card-bd-rad);
}

.about-text {
  color: var(--fourth-color);
  font-size: var(--ab-text-fz);
  font-family: var(--secondary-ff);
}

.background-effect {
  background: rgba(0, 0, 0, 0.1);
  filter: blur(20px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .about-board-container {
    padding-top: calc(var(--sections-bk-pad-top) - 1.2em);
  }
}
