.hr {
  display: block;
  margin: 1.2em 0;
  border-bottom: 2px solid #ffffff;
}

.about-board-container {
  padding-top: var(--sections-bk-pad-top);
}

.about-board {
  margin: 0 2em;
  perspective: 1100px;
}

.about-card {  
  --ab-padding: 1.8em;
  position: relative;
  padding: var(--ab-padding);
  background: rgba(var(--primary-card-bg-color));
  box-shadow: var(--ab-card-shadow);
  border-radius: var(--pjt-card-bd-rad);
}

.about-text {
  color: var(--primary-color);
  font-size: clamp(var(--ab-text-fz));
  font-family: var(--secondary-ff);
  max-width: 75ch;
}

.background-effect {
  background: rgba(0, 0, 0, 0.1);
  filter: blur(20px);
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .about-card {
    padding: calc(var(--ab-padding) - 0.9em);
  }
  
  .about-board-container {
    padding-top: calc(var(--sections-bk-pad-top) - 1.2em);
  }
    
  .about-board {
    touch-action: none;
  }
}
