.text {
  color: var(--primary-color);
  font-size: clamp(var(--ab-text-fz));
  font-family: var(--secondary-ff);
  margin-top: 1.5em;
  height: 100%;
  max-width: 75ch;
  width: 100%;
}

.text-header {
  display: block;
  margin-bottom: 0.45em;
}

.strong {
  margin-left: 0.45em;
}

.about-board-container {
  padding-top: var(--sections-bk-pad-top);
}

.hr {
  display: block;
  margin: 1.2em 0;
  border-bottom: 2px solid #ffffff;
}

.about-text {
  --ab-spacing: 1.8em;
  padding: var(--ab-spacing);
  
  color: var(--primary-color);
  background: rgba(var(--about-primary-card-bg-color));
  border-radius: var(--pjt-card-bd-rad);
  border: 2px solid #f9f9f9;
}

.about-text-container {
  --padding-x-about-text-container: 1em;
  padding-left: var(--padding-x-about-text-container);
  padding-right: var(--padding-x-about-text-container);
  
  transition: 0.3s ease all;
  min-width: 100%;
  max-width: 450px; 
  height: 100%;  
}

@media (max-width: 767px) {
   .about-text-container {
      padding-left: calc(var(--padding-x-about-text-container) - 0.8em);
  padding-right: calc(var(--padding-x-about-text-container) - 0.8em);
 
}
  
  .about-text {
    padding: calc(var(--ab-spacing) - 0.9em);
    padding-top: calc(var(--ab-spacing) - 0.2em);
  }

  .about-board-container {
    padding-top: calc(var(--sections-bk-pad-top) - 1.2em);
  }
}
