.contact__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--sections-bk-pad-top);
  max-height: 400px;
  height: 100vh;
}

.contact__mailto-bk {
  max-width: 500px;
  max-height: 330px;
  width: 100%;
  height: 100%;
  margin: 0.7em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.9em;

  padding: 1em;
  border-radius: 0.23em;

  width: 100%;
  height: 100%;

  box-shadow: var(--ab-card-shadow);
  border: var(--ab-card-bd);
  /* background: var(--primary-item-bg-color); */
  
background: rgba(255,255,255,0.3);
-webkit-backdrop-filter: blur(4px);
backdrop-filter: blur(4px);
border: 1px solid rgba(255,255,255,0.45);
}

.form__input,
.form__textarea {
  width: 100%;
  border-radius: 0.23em;
  padding: 0.8em;
  background: none;
  border: var(--ab-card-bd);
  border: 1px solid rgba(255,255,255,0.45);
  color: var(--primary-color);
  font-family: var(--secondary-ff);
}

.form__textarea {
  resize: none;
  height: 100%;
}

.form__control-bk {
  display: inherit;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.form__msg-bk,
.form__msg-bk-error {
  flex: 1;
  text-align: center;
  border-radius: 0.22em;
  padding: 0.4em;
  min-height: 2.1em;
}

.form__msg-bk-error {
  /* background-color: #d31f4d70; */
  border: 1px solid #da0037;
  color: #da0037;
}

.error {
  background-color: #d31f4d70;
}

@media (max-width: 767px) {
  .contact__content {
    padding-top: calc(var(--sections-bk-pad-top) - 2.9em);
  }
  .form__msg-bk {
    padding: 0.2em;
    min-height: 1.55em;
  }
}
