.pipe-effect:after {
  content: " |";
  animation: blink 1s infinite;
  animation-timing-function: step-end;
  color: #fff;
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}




.home__elements-wrapper {
  padding-bottom: calc(var(--sec-content-pad) + 1em);
}

.intro-gif-container {
  padding-left: 1.2em;
}

.intro-gif {
  max-width: 500px;
  user-select: none;
  min-width: 290px;
}

.span-container {
  --span-subcontainer-pad-lf-bt: clamp(0.3em, 7vw, 3em);
  max-width: 500px;
  padding-left: calc(var(--span-subcontainer-pad-lf-bt) - 1.2em);
  padding-bottom: var(--span-subcontainer-pad-lf-bt);
}

.span-container__subcontainer {
  display: flex;
  flex-direction: column;
}

.first-phrase,
.second-phrase,
.third-phrase {
  display: inline-block;
  font-size: calc(var(--subtitle-section-fz) + 0.3em);
  font-family: var(--primary-ff);
  color: var(--primary-color);
}
.first-phrase__span,
.second-phrase__span {
  color: var(--secondary-color);
}

@media (min-width: 767.1px) and (max-width: 1023px) {
  .first-phrase,
  .second-phrase,
  .third-phrase {
    font-size: var(--subtitle-section-fz);
  }
}

@media (max-width: 767px) {
  .home__elements-wrapper {
    padding-bottom: calc(var(--sec-content-pad) - 2em);
  }

  .intro-btn-elements {
    padding-top: 3em;
  }
  .intro-gif-container {
    padding: 0;
  }

  .intro-gif {
    max-width: 350px;
    min-width: 180px;
  }

  .first-phrase,
  .second-phrase,
  .third-phrase {
    font-size: calc(clamp(1.1em, 5vw, 1.4em) - 0.12em);
  }
}
