.home-subcontainer {
  height: 100%;
}

.greeting-container {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 3em;
  min-height: 16em;
  height: 100%;
  width: 100%;
}

.greeting-container__span {
  color: var(--first-title-color);
  font-size: var(--first-title-fz);
}

.span-container {
  display: flex;
  padding-left: var(--span-subcontainer-pad-lf-bt);
  padding-bottom: var(--span-subcontainer-pad-lf-bt);

  height: 100%;
  width: 100%;
}

.span-container__subcontainer {
  display: block;
  width: 100%;
}

.first-phrase,
.second-phrase,
.third-phrase {
  font-size: var(--subtitle-section-fz);
  font-family: var(--subtitle-section-ff);
  color: var(--subtitle-section-color);
}
.first-phrase__span,
.second-phrase__span
/* .third-phrase__span  */ {
  color: var(--span-subtitle-color);
}

.buttons-container {
  width: 100%;
  height: 100%;
}

.buttons-container__subcontainer {
  display: flex;
  gap: var(--btn-subcontainer-gap);
  padding-left: clamp(0.3em, 7vw, 3em);
  padding-left: var(--btn-subcontainer-pad-left);
  width: 100%;
}

.button {
  background-color: var(--button-bg-color);
  color: var(--button-color);
  padding: var(--button-padding);
  width: var(--button-width);
  border-radius: var(--button-bd-radius);
  border: var(--button-bd-style);
}

.button:hover {
  background-color: var(--button-bg-color-hov);
  color: var(--button-color-hov);
}

.button:active {
  background-color: var(--button-bg-color-act);
  color: var(--button-color-act);
  border: var(--button-bd-style-act);
}

@media (max-width: 450px) {
  .button {
    max-width: calc(var(--button-width) - 3em);
    padding: calc(var(--button-padding) - 0.2em);
  }
}
