.pipe-effect:after {
  content: " |";
  animation: blink 1s infinite;
  animation-timing-function: step-end;
  color: #fff;
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}




.home__elements-wrapper {
  padding-bottom: calc(var(--sec-content-pad) + 1em);
}


.video-container {
  width: 100%;
  max-width: 500px;
  min-width: 290px;
}

.video-container-aspect-ratio {
  height: 0;
  overflow: hidden;
  padding-top: calc(426 / 426 * 100%);
  position: relative;
  z-index: -22;
}

.video-aspect-ratio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  z-index: -22;
  user-select: none;
}


.span-container {
  --span-subcontainer-pad-lf-bt: clamp(0.3em, 7vw, 3em);
  max-width: 500px;
  padding-left: calc(var(--span-subcontainer-pad-lf-bt) - 1.2em);
  padding-bottom: var(--span-subcontainer-pad-lf-bt);
}

.first-phrase,
.second-phrase,
.third-phrase {
  display: inline-block;
  font-size: calc(clamp(var(--subtitle-section-fz)) + 0.3em);
  font-family: var(--primary-ff);
  color: var(--primary-color);
}
.first-phrase__span,
.second-phrase__span {
  color: var(--secondary-color);
  font-weight: 900;
}

@media (min-width: 767.1px) and (max-width: 1023px) {
  .first-phrase,
  .second-phrase,
  .third-phrase {
    font-size: clamp(var(--subtitle-section-fz));
  }
}

@media (max-width: 767px) {
  .home__elements-wrapper {
    padding-bottom: calc(var(--sec-content-pad) - 2em);
  }

  .intro-btn-elements {
    padding-top: 3em;
  }

.video-container {
    max-width: 350px;
    min-width: 180px;
  }

  .first-phrase,
  .second-phrase,
  .third-phrase {
    font-size: calc(clamp(1.1em, 5vw, 1.4em) - 0.12em);
  }
}

.second-phrase {
  display: inline;
}
