.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px 10px;
  min-width: 100%;
  transition: 0.3s ease all;
}

.project-content {
}
.project-figure {
}

.project-image {
  width: 100%;
  vertical-align: top;
}
.project-figcaption {
}
.project-buttons-bk {
}
.project-buttons {
}
.project-anchors {
}

/* shapes */
.custom-shape-divider-top-1665642090 {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1665642090 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 137px;
}

.custom-shape-divider-top-1665642090 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-top-1665640187 {
  position: absolute;
  /* top: 2; */
  /* left: 0; */
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1665640187 svg {
  position: relative;
  display: block;
  width: calc(200% + 1.3px);
  height: 212px;
}

.custom-shape-divider-top-1665640187 .shape-fill {
  fill: #ffffff;
}
