@import "../items/slider.css";

.anchors {
  outline: none;
}

.project-slider-bk {
  padding-top: var(--sections-bk-pad-top);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.project-board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: var(--pjt-board-gap-pad);
  padding: 0 calc(var(--pjt-board-gap-pad) / 2);
  min-width: 100%;
  max-width: 24em;
  transition: 0.3s ease all;
}

.project-cards {
  background: var(--primary-item-bg-color);
  
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);

  padding: var(--pjt-card-padding);
  border-radius: var(--pjt-card-bd-rad);
  
  
  /* background: rgba(255,255,255,0.3); */
-webkit-backdrop-filter: blur(4px);
backdrop-filter: blur(4px);
/* border: 1px solid rgba(255,255,255,0.45); */
}
/* .project-figure {} */

.project-image {
  width: 100%;
  vertical-align: top;
  user-select: none;
}
.project-figcaption {
  margin: var(--pjt-figcaption-margin);
  font-weight: var(--pjt-figcaption-fw);

  text-align: center;
  font-size: var(--pjt-figcaption-fz);
}
.project-buttons-bk {
  display: grid;
  gap: var(--pjt-gap-btns);
  grid-template-columns: 1fr 1fr;
}

.project-buttons {
  width: 100%;
  border: none;
  padding: calc(var(--button-padding) - 0.3em);
  color: var(--third-color);
  background-color: var(--secondary-bg-color);
  border-radius: var(--button-bd-radius);
  border: 1px outset #999;
}

.project-buttons:hover {
  color: var(--primary-color-hov);
  background-color: var(--primary-bg-color-hov);
}

.project-buttons:active {
  color: var(--secondary-color-act);
  background-color: var(--secondary-bg-color-act);
  border: 1px inset #999;
}

.project-cards:hover {
  background: var(--primary-item-bg-color-hov);
}

@media (max-width: 767px) {
  .project-slider-bk {
    padding-top: calc(var(--sections-bk-pad-top) - 1.2em);
  }
  .project-board {
    grid-gap: calc(var(--pjt-board-gap-pad) - 0.25em);
    padding: 0 calc(var(--pjt-board-gap-pad) / 2 - 0.25em);
  }
  .project-figcaption {
    font-size: calc(var(--pjt-figcaption-fz) - 0.13em);
  }
  .project-buttons-bk {
    gap: calc(var(--pjt-gap-btns) - 0.3em);
  }
}
