@import "../items/slider.css";

.anchors {
  outline: none;
}

.project-slider-bk {
  padding-top: var(--sections-bk-pad-top);
}

.project-board {
  --pjt-board-gap-pad: 0.85em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: var(--pjt-board-gap-pad);
  padding: 0 calc(var(--pjt-board-gap-pad) / 2);

  transition: 0.3s ease all;
  min-width: 100%;
  max-width: 48em;
  /* with another board project */
  /* max-width: 24em; */
}
.project-cards {
  background: var(--primary-item-pjt-bg-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0.2em;
  border-radius: var(--pjt-card-bd-rad);
}

.project-image {
  width: 100%;
  vertical-align: top;
  user-select: none;
}

.project-figcaption {
  margin: 0.3em 0 0.6em;
  font-weight: var(--pjt-figcaption-fw);
  text-align: center;
  font-size: var(--pjt-figcaption-fz);  
}


.project-cards:hover {
  background: var(--primary-item-pjt-bg-color-hov);
}

@media (max-width: 767px) {
  .project-slider-bk {
    padding-top: calc(var(--sections-bk-pad-top) - 1.2em);
  }
  .project-board {
    grid-gap: calc(var(--pjt-board-gap-pad) - 0.25em);
    padding: 0 calc(var(--pjt-board-gap-pad) / 2 - 0.25em);
    overflow: hidden;
  }
  
  .project-figcaption {
    font-size: calc(var(--pjt-figcaption-fz) - 0.13em);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .project-span-caption {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 120px;
    white-space: nowrap;
  }
  
  .project-span-caption:hover,
  .project-span-caption:active {
    overflow: visible;
    white-space: wrap;
  }
}
