@import "./home.css";
@import "./projects.css";
@import "./about.css";

.section {
  height: 100%;
  width: 100%;
  min-height: 300px;
}

.subtitle-section {
  text-align: center;
  padding-top: 5em;
  color: var(--subtitle-section);
}

.span-subtitle {
  color: var(--span-subtitle);
}
