.skill-cards-bk {
  padding: var(--sections-bk-pad-top) 1em 0 1em;
  padding-top: 5em; 
}

.skill-cards {
  --skill-cards-gap: 0.6em;
  grid-template-columns: repeat(6, minmax(30px, 130px));
  gap: var(--skill-cards-gap);
}

.card {
  perspective: 150rem;
  position: relative;
  max-height: 7.4em;
  max-width: 7.4em;
  box-shadow: none;
  background: none;
}

.card-side {
  position: relative;
  transition: all 1.2s ease;
  backface-visibility: hidden;
  height: 100px;
  width: 100%;
  color: var(--primary-color);
}

.card-side.back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-180deg);
  background-image: linear-gradient(160deg, var(--secondary-bg-color-act) 0%, var(--primary-bg-color-hov) 100%);
  background-color: var(--secondary-bg-color);
}

.card-side.front {
  background-image: linear-gradient(160deg, var(--primary-bg-color-hov) 0%, var(--secondary-bg-color-act) 100%);
  background-color: var(--secondary-bg-color);
}

.card-content {
  height: 100%;
  text-align: center;
}

.card-span {
  font-size: clamp(0.8em, 2vw, 1.2em);
}


@media (min-width: 768px) and (max-width: 1023px) {
 .skill-cards {    
    grid-template-columns: repeat(6, minmax(30px, 130px));
    gap: calc(var(--skill-cards-gap) - 0.1em);
  }
}

@media (max-width: 767px) {
  .skill-cards-bk {
    padding-top: calc(var(--sections-bk-pad-top) - 1.2em);
  }

  .skill-cards {
    grid-template-columns: repeat(5, minmax(30px, 130px));
    gap: calc(var(--skill-cards-gap) - 0.3em);
  }
}
