.Logo-container {
  float: left;
  margin-right: clamp(0.5em, 2vw, 1em);
}

.Logo-anchor {
  display: block;
}

.Logo-anchor__image {
  width: 100%;
  max-width: clamp(45px, 3vw, 55px);
  margin: 4px;
  /* padding: 3px; */
  user-select: none;
  filter: opacity(1) brightness(1) invert(100%) contrast(900%) grayscale(100);
}

/* states */
.Logo-anchor:focus {
  outline: none;
  filter: invert(50%) sepia(89%) saturate(967%) hue-rotate(325deg)
    brightness(94%) contrast(117%);
}

.Logo-anchor__image:focus,
.Logo-anchor__image:hover {
  filter: invert(50%) sepia(89%) saturate(967%) hue-rotate(325deg)
    brightness(94%) contrast(117%);
}

/* This media-query is related to header.css & createlist.css media-querys */
@media (min-width: 510px) {
  .Logo-container {
    display: inline-block;
  }
}
