/* elements */
.Lists {
  float: left;
}

.Lists__anchor {
  display: block;
  color: var(--nav-color);
  text-decoration: none;
  min-height: 3.6em;
  padding: 1em 1em;
}

/* status */
.Lists__anchor:link,
.Lists__anchor:visited {
  color: var(--nav-color);
}

.Lists__anchor:focus,
.Lists__anchor:hover {
  color: var(--nav-status-color);
  outline: none;
  border-bottom: 2.5px solid var(--nav-status-color);
}

.Lists__anchor:active {
  color: var(--nav-color);
  outline: none;
  border-bottom: 4px solid var(--nav-status-color);
}
