/* elements */
.Logo-container {
  float: left;
  margin-right: clamp(0.5em, 2vw, 1em);
}

.Logo-anchor {
  display: block;
}

.Logo-anchor__image {
  width: 100%;
  max-width: clamp(45px, 3vw, 55px);
  margin: 4px;
  user-select: none;
  filter: var(--logo-color);
}

/* status */
.Logo-anchor:focus,
.Logo-anchor__image:hover {
  outline: none;
  filter: var(--logo-color-status);
}
