/* @media (min-width: 495px) {
  .lists-wrapper {
    display: flex;
    justify-content: center;
  }
  .Lists {
    float: none;
    display: inline-block;
  }
  .Lists__anchor {
    padding: 1em clamp(1em, 2.5vw, 2em);
  }
  .Logo-container {
    display: inline-block;
  }
} */
