@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  /* background-color: var(--body-bg-color); */
  background: var(--body-bg-color);
}

/* 
Palette
#171717
#444444
#DA0037
#EDEDED
 */

:root {
  /* fonts */
  --title-ff: "";
  --subtitle-ff: "";
  --paragraph-ff: "Rubik", sans-serif;

  --first-title-fz: clamp(2.2em, 10vw, 4.5em);
  --first-title-color: #da0037;

  --subtitle-section-fz: clamp(1.1em, 5vw, 1.6em);
  --subtitle-section-ff: "Rubik", sans-serif;
  --subtitle-section-color: #f2f2f2;
  --span-subtitle-color: #da0037;

  /* span subcontainer */
  --span-subcontainer-pad-lf-bt: clamp(0.3em, 7vw, 3em);

  /* button subcontainer */
  --btn-subcontainer-gap: 0 clamp(0.3em, 2vw, 1.05em);
  --btn-subcontainer-pad-left: clamp(0.5em, 7vw, 3em);

  /* button */
  --button-fz: ;
  --button-ff: ;
  --button-padding: 0.5em;
  --button-width: 9em;

  --button-color: #ededed;
  --button-bg-color: #da0037;
  --button-bd-radius: 0.3em;

  /* hover button */
  --button-color-hov: #ededed;
  --button-bg-color-hov: #c20030;

  /* active button */
  --button-color-act: #f7f7f7;
  --button-bg-color-act: #e00038;

  /* header */
  --nav-bg-color: #171717;

  /* top */
  --top-title-color: #fff;
  --top-span-color: #da0037;
  --top-bg-color: transparent;
  --top-bg-side-items: #fff;
  --top-focus-hover-color: #da0037;

  --top-link-visited-color: #fff;
  --top-activate-color: #fff;

  /* navbar */
  --nav-color: #fff;
  --nav-status-color: #da0037;

  /* sections */
  --subtitle-section: #ededed;
  --span-subtitle: #da0037;

  /* body */
  /* --body-bg-color: linear-gradient(14deg, #171717, #bbb2); */
  --body-bg-color: #171717;
  /* properties */
  scroll-behavior: smooth;
}

/* 
Colors

#ff6347

*/
