@import "./font.css";
@import "./variables.css";
@import "./items/loader.css";
@import "./shapes/triangle.css";
@import "./shapes/waves.css";
@import "./structure/header.css";
@import "./structure/footer.css";
@import "./routes/sections.css";
@import './items/button.css';
@import './properties.css';


::selection {
  background: #5135aa;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--primary-bg-color);
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
  color: var(--secondary-color);
  opacity: 1;
}

:-ms-input-placeholder { 
  color: var(--secondary-color);  
}

::-ms-input-placeholder {
  color: var(--secondary-color);
}