/* flex */
.flex,
.flex-center,
.flex-btw,
.flex-column,
.flex-evenly,
.flex-wrap {
  display: flex;
}

.flex-center,
.flex-evenly {
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.flex-btw {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-evenly {
  justify-content: space-evenly;
}


/* grid */
.grid,
.grid-center {
  display: grid;
}

.grid-center {
  place-content: center;
}


/* container */
.container {
  width: 100%;
  height: 100%;
}


.bk-drop {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.45);
}


/* inline-block */
.inline-block {
  display: inline-block;
}


/* anchors */
.anchor {
  outline: none;
  text-decoration: none;
}

.anchor:link,
.anchor:visited {
  color: var(--primary-bg-color);
}

.anchor:focus,
.anchor:hover {
  color: var(--primary-bg-color-hov);
}

.anchor:active {
  color: var(--secondary-bg-color-act);
}

