:root {
  /* fonts family */
  --primary-ff: "Rubik", -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
    oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --secondary-ff: "Noto Sans", -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* font colors */
  --primary-color: #f2f2f2;
  --secondary-color: #5a39c2;
  --third-color: #ededed;

  /* body background */
  --primary-bg-color: #171717;
  --secondary-bg-color: #5135aa;
  --third-bg-color: #f2f2f2;

  /* items background */
  --primary-card-bg-color: rgba(81,53,170,0.5);


  /* states bg item */
  --primary-item-pjt-bg-color: #d2d2d2;
  --primary-item-pjt-bg-color-hov: #a9a9a9;
  
  --primary-arrow-btn-color: invert(24%) sepia(19%) saturate(7476%) hue-rotate(241deg) brightness(85%) contrast(95%);
  --primary-arrow-btn-color-hov: invert(37%) sepia(63%) saturate(5931%) hue-rotate(243deg) brightness(99%) contrast(93%);
  --primary-arrow-btn-color-act: invert(18%) sepia(35%) saturate(3656%) hue-rotate(238deg) brightness(96%) contrast(97%);

  /* states colors */
  --primary-color-hov: #d1d1d1;
  --primary-color-hov: #f2f2f2;
  --secondary-color-act: #f7f7f7;
  /* states bg colors */
  --primary-bg-color-hov: #764EF3 ;
  --secondary-bg-color-act: #432D8C;
  /*  */
}

:root {
  /* fonts */
  --first-title-fz: clamp(2.2em, 10vw, 4.5em);
  --subtitle-section-fz: clamp(1.1em, 5vw, 1.6em);

  /* home */
  --span-subcontainer-pad-lf-bt: clamp(0.3em, 7vw, 3em);
  --btn-subcontainer-gap: 0 clamp(0.3em, 2vw, 1.05em);
  --btn-subcontainer-pad-left: clamp(0.5em, 7vw, 3em);

  /* button */
  --button-padding: 0.5em;
  --button-width: 9em;
  --button-bd-radius: 0.3em;
  --button-bd-style: 2px outset #666;

  /* active button */
  --button-bd-style-act: 2px inset #666;

  /* top */
  --top-bg-color: transparent;

  /* navbar */
  --nav-list-fz-break: 0.85em;

  /* sections */
  --sec-content-pad: 7em;

  /* project */
  --pjt-slider-bk-margin: 3em auto;
  --pjt-board-gap-pad: 0.85em;
  --pjt-gap-btns: 0.5em;
  --pjt-figcaption-fz: 1em;
  --pjt-figcaption-margin: 0.3em 0 0.6em;
  --pjt-figcaption-fw: 600;
  --pjt-card-padding: 0.2em;
  --pjt-card-bd-rad: 0.23em;

  /* slider */
  --sld-elem-bk-margin: 0 clamp(0.3em, 2vw, 1em);
  --sld-icon-btn-width: 3.7em;

  /* subtitle-space-content */
  --sections-bk-pad-top: 3.7em;

  /* about */
  --ab-text-fz: clamp(1rem, 8vw - 2rem, 1.1rem);
  --ab-card-bd: 2px solid rgba(255, 255, 255, 0.25);
  --ab-card-pad: 1.8em;
  --ab-card-width: 40em;
  --ab-card-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  /* skills */
  --skill-cards-gap: 0.6em;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
