:root {
  /* fonts family */
  --primary-ff: "Rubik", -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
    oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --secondary-ff: "Noto Sans", -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* font colors */
  --primary-color: #f2f2f2;
  --secondary-color: #da0037;
  --third-color: #ededed;
  --fourth-color: #000;

  /* body background */
  --primary-bg-color: #171717;
  --secondary-bg-color: #da0037;
  --third-bg-color: #f2f2f2;


  /* items background */
  --primary-item-bg-color: linear-gradient(
    45deg,
    rgba(235, 235, 233, 0.45),
    rgba(255, 255, 255, 0.62),
    rgba(235, 235, 233, 0.43),
    rgba(255, 255, 255, 0.52),
    rgba(235, 235, 233, 0.45),
    rgba(255, 255, 255, 0.52)
  );
  
  /* states bg item */
  --primary-item-bg-color-hov: #c9c9c9;
  
  /* states colors */
  --primary-color-hov: #d1d1d1;
  --secondary-color-act: #f7f7f7;
  /* states bg colors */
  --primary-bg-color-hov: #b5002e;
  --secondary-bg-color-act: #e00038;
}

:root {
  /* fonts */
  --first-title-fz: clamp(2.2em, 10vw, 4.5em);
  --subtitle-section-fz: clamp(1.1em, 5vw, 1.6em);

  /* home */
  --span-subcontainer-pad-lf-bt: clamp(0.3em, 7vw, 3em);
  --btn-subcontainer-gap: 0 clamp(0.3em, 2vw, 1.05em);
  --btn-subcontainer-pad-left: clamp(0.5em, 7vw, 3em);

  /* button */
  --button-padding: 0.5em;
  --button-width: 9em;
  --button-bd-radius: 0.3em;
  --button-bd-style: 2px outset #666;

  /* active button */
  --button-bd-style-act: 2px inset #666;

  /* top */
  --top-bg-color: transparent;

  /* navbar */
  --nav-list-fz-break: 0.85em;

  /* sections */
  --sec-content-pad: 7em;
  
  /* project */
  --pjt-slider-bk-margin: 3em auto;
  --pjt-board-gap-pad: 0.85em;
  --pjt-gap-btns: 0.5em;
  --pjt-figcaption-fz: 1em;
  --pjt-figcaption-margin: 0.3em 0 0.6em;
  --pjt-figcaption-fw: 600;
  --pjt-card-padding: 0.2em;
  --pjt-card-bd-rad: 0.23em;

  /* slider */
  --sld-elem-bk-margin: 0 clamp(0.3em, 2vw, 1em);
  --sld-icon-btn-width: 3.7em;

  /* subtitle-space-content */
  --sections-bk-pad-top: 3.7em;

  /* about */
  --ab-text-fz: clamp(1rem, 8vw - 2rem, 1.1rem);
  --ab-card-bd: 2px solid rgba(255, 255, 255, 0.25);
  --ab-card-pad: 1.8em;
  --ab-card-width: 40em;
  --ab-card-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  /* skills */
  --skill-cards-gap: 0.6em;


  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
